@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    
    /*TELA DE TABLET*/

    body{
        background-image: linear-gradient(to bottom,#025373,#04D9C4);
    }
    main{
        width: 80vw;
        height: 300px;
        flex-direction: row;
    }
    main h1{
        padding: 5px;
    }
    #imagem{
        height: 100%;
        width: 40%;
        border-radius: 15px 0px 0px 15px;
    }
}
 @media screen and (min-width:992px){

    /*GRANDES TELAS*/

    body{
        background-image: linear-gradient(to bottom,#025373,#04D9C4);
    }
    main{
        flex-direction: row-reverse;
        width: 1000px;
    }
    main h1{
        padding: 9px;
    }
    #imagem{
        height: 21em;
        width: 48em;
        border-radius: 0px 15px 15px 0px;
    }
 }
    