@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    
    body{
        background-image: linear-gradient(to bottom, #025373,#04D9C4);
    }
    main{
        height:30vh ;
        width:80vw;
        display: flex;
    }
    main h1{
        padding-top: 5%;
    }
    main p{
        line-height: normal;
    }
    #imagem{
        width: 37%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }
    #segundo{
        display: flex;
        flex-direction: column;
    }
    form{
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    form div{
        align-self: center;
        width: 85%;
    }
    input{
        width: 90%;
    }
    #botoes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #botoes input{
        width: 100%;
    }
}
@media screen and (min-width:992px) {
    body{
        background-image: linear-gradient(to bottom, #025373,#04D9C4);
    }
    main{
        height:45vh ;
        width:80vw;
        display: flex;
        flex-direction: row-reverse;
    }
    main h1{
        padding: 30px;
    }
    main p{
        line-height: normal;
    }
    #imagem{
        width: 50%;
        height: 100%;
        border-radius: 0px 15px 15px 0px;
    }
    #segundo{
        display: flex;
        flex-direction: column;
    }
    form{
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    form div{
        align-self: center;
        width: 85%;
    }
    input{
        width: 90%;
    }
    #botoes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #botoes input{
        width: 100%;
    }
}